<!DOCTYPE html>
<html>
<head>{% block head %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{% block title %}{% block subtitle %}{% endblock %}{% endblock %}</title>
<link rel="stylesheet" href="{{url_for('.static', filename='bootstrap-4.5.0/css/bootstrap.min.css')}}" />
<link rel="stylesheet" href="{{url_for('.static', filename='fontawesome-5.14.0/css/all.min.css')}}" />
<link rel="stylesheet" href="{{url_for('.static', filename='/css/mdict.css')}}" />
{% endblock %}</head>
<body>
<div class="container">
    {% block maincontent %}
    <div class="row">
        <div class="col">
            {% block content %}
            <h1>Hello World!</h1>
            {% endblock %}
        </div>
    </div>
    {% endblock %}
    <div class="row">
        <div class="col-sm">
            <hr />
            <div class="text-center">
            <p>{% block footer %} &copy; Copyright 2018 {% endblock %}</p>
            </div>
        </div>
    </div>
</div>
{% block script %}
    <script src="{{url_for('.static', filename='jquery-3.5.1/jquery.min.js')}}"></script>
    <script src="{{url_for('.static', filename='bootstrap-4.5.0/js/bootstrap.bundle.min.js')}}"></script>
{% endblock %}
</body>
</html>
